@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>
        This is the solution of Liam Knapp (student #8761110)
    </p>
   
    <a asp-controller="Student" asp-action="List">All Student List</a>

</div>